EMAIL       =   "email@example.com"
DOMAIN      =   "domain.com"

CF_Token        =   "TokenTokenTokenTokenTokenTokenTokenToken"
CF_Account_ID   =   "ACCOUNTIDACCOUNTIDACCOUNTIDACCOU"
CF_Zone_ID      =   "ZONEIDZONEIDZONEIDZONEIDZONEIDZO"